<web‑app>
  <servlet>
    <servlet-name>GameServlet</servlet-name>
    <servlet-class>com.galaxy.servlets.GameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GameServlet</servlet-name>
    <url-pattern>/game</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QuizServlet</servlet-name>
    <servlet-class>com.galaxy.servlets.QuizServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuizServlet</servlet-name>
    <url-pattern>/quiz</url-pattern>
  </servlet-mapping>
</web‑app>